.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    font-family: "Outfit", "serif";
    box-sizing: border-box;
}

hr {
    background-color: hsl(215, 32%, 27%);
}

body {
    margin: 0;
    padding: 0;
}

.body {
    background-color: hsl(217, 54%, 11%);
    color: white;
    font-size: 16px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.card-container {
    box-shadow: 0 0 7px 16px rgba(20, 37, 61, 0.2);
    /* background-color: green; */
    background-color: hsl(217, 54%, 11%);
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 25px;

    position: relative;
}

.content-container {
    background-color: hsl(216, 50%, 16%);

    border-radius: 14px;
    padding: 20px;

    margin-top: -25px;
    padding-top: 14px;
    width: 320px;


    text-align: center;

}

.content-body {
    text-align: left;
}

.content-body>p {
    word-spacing: 3px;
    color: hsl(215, 51%, 70%);
}

.price {
    display: flex;
    gap: 5px;
}

.price>div {
    color: hsl(178, 100%, 50%)
}

.days-left {
    display: flex;
    gap: 8px;
}

.price-days-left {
    display: flex;
    justify-content: space-between;

    margin-bottom: 18px;
}

.nft-image {
    width: 270px;
    height: 270px;
}

.hover-image {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    width: 270px;
    height: 270px;

    top: 4px;
    left: 40px;
}

.hover-image:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgba(0, 255, 247, 0.4);
}

.content-body>h3:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    gap: 30px;

    margin-bottom: 20px;
}

.footer>img {
    width: 30px;
    height: 30px;

    border: solid hsl(0, 0%, 100%) 2px;
    border-radius: 20px;
}

.footer span:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}